body{
	font-family: 'Roboto', sans-serif;
	background: #7F7FD5;  
	background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  
	background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); 
	background-position: center;
	background-size: cover;
	height: 100vh;
}

li span{
	background-color: #e74c3c;
	color: #fff;
	height: 40px;
	margin-right: 20px;
	width: 0px;
	opacity: 0;
	display: inline-block;
	text-align: center;
	transition: 0.2s linear;
}
li:hover span{
width: 40px;
opacity: 1.0;
}

.fa-pencil-square-o{
	float: right;
	padding-top: 5px;
}
#container{
	
	width: 360px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	background-color: #f7f7f7;
}
.toggle{
	color: grey;
	text-decoration: line-through;
}
h1{
	background-color: #2980b9;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 25px;
	font-weight: normal;
	color: white;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
		background-color: #fff;
		height: 40px;
		line-height: 40px;
		color: #666;

}
li:nth-child(2n){
	background-color: #f7f7f7;
}
input{
	box-sizing: border-box;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	width: 100%;
	background-color: #f7f7f7;
	color: #2980b9; 
	border: 3px solid rgba(0,0,0,0);
}
input:focus{
	background-color: #fff;
	border: 3px solid #2980b9;
}