#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    
}
.hex-text {
    text-transform: uppercase;
}
button{
    padding: 10px 20px;
    border: 1px solid rgb(34, 47, 47);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 245, 130);
    cursor:pointer;
}
